name: MLOps CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest flake8 requests

      - name: Run unit and component tests
        run: pytest tests/

      - name: Run linting
        run: flake8 app/

      - name: Build Docker image
        run: docker build -t mlops-app .

      - name: Run Docker container
        run: docker run -d -p 5000:5000 mlops-app

      - name: Wait for service to be ready
        run: sleep 10

      - name: Smoke test
        run: python smoke_test.py
